body {
    background: rgb(69, 69, 199);
    font: normal 20pt Arial;
    
}

section {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
}

header {
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

div {
    text-align: center;
}

div#msg{
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    width: 500px;
    margin: auto;
    
}